Pandas Series

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d ={'a':10,'b':20,'c':30}

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data = my_data , index = labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [12]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [13]:
labels

['a', 'b', 'c']

In [15]:
ser1 = pd.Series([1,2,3,4],['usa','germany','ussr','japan'])

In [16]:
ser1

usa        1
germany    2
ussr       3
japan      4
dtype: int64

In [17]:
ser2 = pd.Series([1,2,5,4],['usa','germany','italy','japan'])

In [18]:
ser2

usa        1
germany    2
italy      5
japan      4
dtype: int64

In [19]:
ser1['usa']

1

In [21]:
ser3 = pd.Series(data =labels)

In [22]:
ser3

0    a
1    b
2    c
dtype: object

In [23]:
ser3[0]

'a'

In [24]:
ser1+ser2

germany    4.0
italy      NaN
japan      8.0
usa        2.0
ussr       NaN
dtype: float64